.login-container {
    width: 360px;
    height: 360px;
}

.column {
    display: flex;
    flex-direction: column;
}

.action {
    display: flex;
    padding: 10px 0 15px 0;

    button {
        width: 100%;
    }
}