<div class="login-container">
    <div mat-dialog-title>
        <h1>Login</h1>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div mat-dialog-content>
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" required>
                    <mat-error *ngIf="email?.hasError('required')">Email is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" required>
                    <mat-error *ngIf="password?.hasError('required')">Password is required</mat-error>
                    <mat-error *ngIf="password?.hasError('minlength')">Password must have at least {{minPw}}
                        characters</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="action">
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">SIGN IN</button>
        </div>
        <div>
            Not a member? <a routerLink="/register">Register</a>
        </div>
    </form>
</div>